<div class="customers content">
  <h3>Join customers large and small around the world</h3>
  <div class="row d-flex wrapper">
    <div class="col-lg-3 col-md-6 col-12 text-center"><a href="http://www.hmpublishing.com/"><img src="images/customer_logo-hayden-mcneil-200.png" width="200" height="35" alt="Hayden-McNeil" style="margin-top:22px;"></a></div>
    <div class="col-lg-2 col-md-6 col-12 text-center"><a href="http://www.panomapress.com/"><img src="images/customer_logo-panoma-press-150.jpg" width="150" height="59" alt="Panoma Press" style="margin-top:10px;"></a></div>
    <div class="col-lg-3 col-md-6 col-12 text-center"><a href="https://www.hmhco.com/"><img src="images/customer_logo-hmh-200.png" width="200" height="46" alt="Houghton Mifflin Harcourt" style="margin-top:22px;"></a></div>
    <div class="col-lg-2 col-md-6 col-12 text-center"><a href="http://www.ricpublications.com.au/"><img src="images/customer_logo-ricpublications.png" width="104" height="80" alt="Panoma Press" style=""></a></div>
    <div class="col-lg-2 col-md-6 col-12 text-center"><a href="https://www.prim-ed.co.uk/"><img src="images/customer_logo-prim-ed.png" width="180" height="52" alt="Prim-Ed Publishing" style="margin-top:14px;"></a></div>
  </div>
</div>
