<footer>
  <div class="wrapper main-footer">
    <div class="information pl-4 pr-4">
      <h4>More information</h4>
      <ul>
        <li><img src="images/arrow-right-short.svg" aria-hidden="true" class="arrow" /><a href="https://help.futureproofs.net">Help</a></li>
        <li><img src="images/arrow-right-short.svg" aria-hidden="true" class="arrow" /><a href="legal.html">Terms and conditions</a></li>
        <li><img src="images/arrow-right-short.svg" aria-hidden="true" class="arrow" /><a href="https://status.futureproofs.net">Status of the service</a></li>
        <li><img src="images/arrow-right-short.svg" aria-hidden="true" class="arrow" /><a href="privacy.html">Privacy Policy</a></li>
        <li><img src="images/arrow-right-short.svg" aria-hidden="true" class="arrow" /><a href="contact.html">Contact us</a></li>
      </ul>
    </div>

    <div class="branding">
      <div class="logo"><a href="http://www.wearefutureproofs.com"><img src="images/futureproofs-logo-light.svg" width="250" height="40" alt="Futureproofs"></a></div>
      <ul class="social d-flex">
        <li><a href="http://myhat.wearefutureproofs.com/" class="btn btn-secondary btn-round"><img src="images/podcast.svg"></a></li>
        <li><a href="http://blog.wearefutureproofs.com/" class="btn btn-secondary btn-round"><img src="images/rss.svg"></a></li>
        <li><a href="http://www.twitter.com/john_pettigrew" class="btn btn-secondary btn-round"><img src="images/twitter.svg"></a></li>
        <li><a href="https://www.linkedin.com/company/we-are-futureproofs" class="btn btn-secondary btn-round"><img src="images/linkedin.svg"></a></li>
      </ul>
    </div>
  </div>

  <div class="copyright">
    <p>&copy; 2020 We Are Futureproofs Ltd.</p>
  </div>
</footer>
