<footer>
  <div class="wrapper main-footer d-flex flex-row">
    <div class="branding d-flex flex-column">
      <div class="logo d-flex"><a href="http://www.wearefutureproofs.com"><img src="/images/futureproofs-logo.svg" width="200" height="113" alt="Futureproofs"></a></div>
      <ul class="social d-flex">
        <li><a href="http://myhat.wearefutureproofs.com/"><img src="/images/podcast.svg"></a></li>
        <li><a href="http://blog.wearefutureproofs.com/"><img src="/images/rss.svg"></a></li>
        <li><a href="http://www.twitter.com/john_pettigrew"><img src="/images/twitter.svg"></a></li>
        <li><a href="https://www.linkedin.com/company/we-are-futureproofs"><img src="/images/linkedin.svg"></a></li>
      </ul>

    </div>

    <h4>More information</h4>
    <ul>
      <li><a href="https://help.futureproofs.net">Help</a></li>
      <li><a href="/terms">Terms and conditions</a></li>
      <li><a href="https://status.futureproofs.net">Status of the service</a></li>
      <li><a href="/privacy.html">Privacy Policy</a></li>
      <li><a href="/contact">Contact us</a></li>
    </ul>

    <h4>Join our community!</h4>
    <p>Sign up to receive monthly emails with news about Futureproofs and our team. You can also opt to receive weekly emails when industry news, podcasts and blogs.</p>
    <form action="https://wearefutureproofs.us7.list-manage.com/subscribe/post?u=43cf4e0c657922e7a6f7ed714&amp;id=bff6f7b45c&SOURCE=Website" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
      target="_blank" novalidate>
      <ul >
        <li><input type="checkbox" value="1" name="group[18509][1]" id="mce-group[18509]-18509-0" checked style="display:none;"></li>
        <li><label for="mce-group[18509]-18509-1" style="padding-right:10px;">Yes, please send me the weekly emails, too.</label><input type="checkbox" value="2" name="group[18509][2]" id="mce-group[18509]-18509-1"></li>
      </ul>
      <div>
        <div class="form-group">
          <div class="input-group input-group-sm">
            <span class="input-group-addon"><span class="input-group-icon mdi mdi-email"></span></span>
            <input placeholder="Enter your email" type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL">
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_43cf4e0c657922e7a6f7ed714_bff6f7b45c" tabindex="-1" value=""></div>
            <span class="input-group-btn"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm btn-primary"></span>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div>
    <p>&copy; 2020 We Are Futureproofs Ltd.</p>
  </div>
</footer>
