<footer id="site-footer" class=" bgprimary padding_top">
  <div class="container">
    <div class="row">
      <div class="col-6 col-lg-4">
        <div class="footer_panel padding_bottom_half bottom20">
          <a href="index.html" class="footer_logo bottom25"><img src="images/futureproofs-logo-light.svg" width="250" height="40" alt="Futureproofs"></a>
          <p class="whitecolor bottom25">Making editors' lives better since 2014</p>
          <div>
            <a class="button gradient-btn mb-4" href="https://www.futureproofs.net/" target="_blank">Sign in</a>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="footer_panel padding_bottom_half bottom20 pl-0 pl-lg-5">
          <ul class="links">
            <li><a href="https://status.futureproofs.net/">Status</a></li>
            <li><a href="about.html">About us</a></li>
            <li><a href="ethics.html">Ethics</a></li>
            <li><a href="privacy.html">Privacy</a></li>
            <li><a href="legal.html">Legal</a></li>
            <li><a href="contact.html">Contact us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-6 col-lg-4">
        <div class="footer_panel text-right padding_bottom_half bottom20">
          <p class="whitecolor bottom25">We Are Futureproofs Ltd is a company incorporated in England and Wales under company number 08606630 and whose registered office is located at Bank Gallery, High Street, Kenilworth, CV8 1LY, UK.</p>
          <p class="whitecolor bottom25">© We Are Futureproofs Ltd.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
