<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Futureproofs</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="{{ page.description  }}">
  <meta name="author" content="We Are Futureproofs Ltd">
  <meta name="keywords" content="publishing, editorial, proofs, proofing, soft proofing, soft-proofing, on-screen proofreading, proofreading, paperless, on-screen, onscreen, online, process improvement, workflow, publications, books, magazines, education, trade, non-fiction, illustrated" />
  <link rel="icon" href="{{'/assets/favicon.ico'}}" type="image/x-icon">
  <!-- Stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{'/assets/main.css'}}">
</head>
