<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <meta name="description" content="{{ page.description  }}">
  <meta name="author" content="We Are Futureproofs Ltd">
  <meta name="keywords" content="publishing, editorial, communication, collaboration, queries, efficiency, proofs, proofing, soft proofing, soft-proofing, on-screen proofreading, proofreading, paperless, on-screen, onscreen, online, process improvement, workflow, publications, books, magazines, education, trade, non-fiction, illustrated" />
  <title>{{ page.title }} | Futureproofs</title>
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link rel="stylesheet" href="css/main.css">
  <script async defer data-domain="wearefutureproofs.com" src="https://plausible.io/js/plausible.js"></script>
</head>
