<head>
  <meta charset="utf-8">
  <title>{{ page.title }} | Futureproofs</title>
  <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="format-detection" content="telephone=no">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="{{ page.description  }}">
  <meta name="author" content="We Are Futureproofs Ltd">
  <meta name="referrer" content="origin">
  <meta name="keywords" content="publishing, editorial, proofs, proofing, soft proofing, soft-proofing, on-screen proofreading, proofreading, paperless, on-screen, onscreen, online, process improvement, workflow, publications, books, magazines, education, trade, non-fiction, illustrated" />
  <link rel="icon" href="images/favicon.ico" type="image/x-icon">
  <!-- Stylesheets-->
  <link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;">
        <a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a>
    </div>
    <script src="js/html5shiv.min.js"></script>
    <![endif]-->
</head>
