<section id="our-testimonial" class="bg-light padding_bottom">
  <div class="parallax page-header testimonial-bg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 offset-lg-6 col-md-12 text-center text-lg-right">
          <div class="heading-title wow fadeInUp padding_testi" data-wow-delay="300ms">
            <h2 class="text-white font-normal">Loved by editors, freelancers and managers</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="owl-carousel" id="testimonial-slider">
      <div class="item testi-box">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="testimonial-round d-inline-block">
              <img src="images/customers-users/user-rebeccaelphick.jpg" alt="Rebecca Elphick headshot">
            </div>
            <h4 class="text-secondary font-light top15"><a href="#.">Rebecca Elphick</a></h4>
            <p>Publishing Assistant, EasyPress, UK</p>
          </div>
          <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
            <p class="bottom15 top90">A really effective way to ensure we meet tight deadlines and correspond with their editor.</p>
          </div>
        </div>
      </div>
      <div class="item testi-box">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="testimonial-round d-inline-block">
              <img src="images/customers-users/user-louiseharnby-80x80.jpg" alt="Louise Harnby headshot">
            </div>
            <h4 class="text-secondary font-light top15"><a href="#.">Louise Harnby</a></h4>
            <p>Freelance proofreader, UK</p>
          </div>
          <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
            <p class="bottom15 top90">The line-by-line markup functionality is, frankly, gorgeous.</p>
          </div>
        </div>
      </div>
      <div class="item testi-box">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="testimonial-round d-inline-block">
              <img src="images/customers-users/user-amy-mcguinness-80x80.jpg" alt="Amy McGuinness headshot">
            </div>
            <h4 class="text-secondary font-light top15"><a href="#.">Amy McGuinness</a></h4>
            <p>Operations Manager, RIC Publications, Australia</p>
          </div>
          <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
            <p class="bottom15 top90">It is improving the speed at which we edit our documents, especially for our International market.</p>
          </div>
        </div>
      </div>
      <div class="item testi-box">
        <div class="row align-items-center">
          <div class="col-lg-4 col-md-12 text-center">
            <div class="testimonial-round d-inline-block">
              <img src="images/customers-users/user-fayecheeseman-80x80.jpg" alt="Faye Cheeseman headshot">
            </div>
            <h4 class="text-secondary font-light top15"><a href="#.">Faye Cheeseman</a></h4>
            <p>Freelance proofreader, UK</p>
          </div>
          <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
            <p class="bottom15 top90">The best support I've ever received!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
