<section id="our-testimonial" class="bg-light parallax page-header testimonial-bg">
  <div class="container">
    <div class="text-center heading-title wow fadeInUp padding_testi" data-wow-delay="300ms">
      <h2 class="text-white font-normal">Loved by editors, freelancers and managers</h2>
      <div id="testimonial-slider" class="owl-carousel">
        <div class="item testi-box">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 text-center">
              <div class="testimonial-round d-inline-block">
                <img src="images/customers-users/user-rebeccaelphick.jpg" alt="Rebecca Elphick headshot">
              </div>
              <h4 class="text-secondary font-light top15"><a href="#.">Rebecca Elphick</a></h4>
              <p>Publishing Assistant, EasyPress, UK</p>
            </div>
            <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
              <p>A really effective way to ensure we meet tight deadlines and correspond with their editor.</p>
            </div>
          </div>
        </div>
        <div class="item testi-box">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 text-center">
              <div class="testimonial-round d-inline-block">
                <img src="images/customers-users/user-louiseharnby.jpg" alt="Louise Harnby headshot">
              </div>
              <h4 class="text-secondary font-light top15"><a href="#.">Louise Harnby</a></h4>
              <p>Freelance proofreader, UK</p>
            </div>
            <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
              <p>The line-by-line markup functionality is, frankly, gorgeous.</p>
            </div>
          </div>
        </div>
        <div class="item testi-box">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 text-center">
              <div class="testimonial-round d-inline-block">
                <img src="images/customers-users/user-amy-mcguinness.jpg" alt="Amy McGuinness headshot">
              </div>
              <h4 class="text-secondary font-light top15"><a href="#.">Amy McGuinness</a></h4>
              <p>Operations Manager, RIC Publications, Australia</p>
            </div>
            <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
              <p>It is improving the speed at which we edit our documents, especially for our International market.</p>
            </div>
          </div>
        </div>
        <div class="item testi-box">
          <div class="row align-items-center">
            <div class="col-lg-4 col-md-12 text-center">
              <div class="testimonial-round d-inline-block">
                <img src="images/customers-users/user-fayecheeseman.jpg" alt="Faye Cheeseman headshot">
              </div>
              <h4 class="text-secondary font-light top15"><a href="#.">Faye Cheeseman</a></h4>
              <p>Freelance proofreader, UK</p>
            </div>
            <div class="col-lg-6 offset-lg-2 col-md-10 offset-md-1 text-lg-left text-center">
              <p>The best support I've ever received!</p>
            </div>
          </div>
        </div>
      </div>
      <div id="customers-slider" class="owl-carousel mt-5">
        <div class="item">
          <div class="logo-item">
            <a href="http://www.panomapress.com/"><img src="images/customers-users/customer_logo-panoma-press-150.jpg" width="150" height="59" alt="Panoma Press" style="margin-top:10px;"></a>
          </div>
        </div>
        <div class="item">
          <div class="logo-item">
            <a href="https://www.rpbooks.co.uk/"><img src="images/customers-users/customer_logo-redemptorist-200.png" width="200" height="62" alt="Redemptorist Publications" style="margin-top:5px;"></a>
          </div>
        </div>
        <div class="item">
          <div class="logo-item">
            <a href="http://www.ricpublications.com.au/"><img src="images/customers-users/customer_logo-ricpublications.png" width="104" height="80" alt="Panoma Press" style=""></a>
          </div>
        </div>
        <div class="item">
          <div class="logo-item">
            <a href="https://www.prim-ed.co.uk/"><img src="images/customers-users/customer_logo-prim-ed.png" width="180" height="52" alt="Prim-Ed Publishing" style="margin-top:14px;"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
