<section class="testimonials" id="testimonials">
  <div class="wrapper content">
    <h2>Loved by editors, freelancers and managers</h2>
    <div class="quotes row">
      <div class="col-12 col-md-6 col-lg-3"><img src="images/user-louiseharnby-80x80.jpg" alt="Louise Harnby" />
        <h5>Louise Harnby</h5>
        <p>Freelance proofreader, UK</p>
        <blockquote>The line-by-line markup functionality is, frankly, gorgeous.</blockquote>
      </div>
      <div class="col-12 col-md-6 col-lg-3"><img src="images/user-helenseachrist-80x80.jpg" alt="Helen Seachrist" />
        <h5>Helen Seachrist</h5>
        <p>Production Editor, <br />Houghton Mifflin Harcourt, USA</p>
        <blockquote>Collating corrections takes a fraction of the time it does when working with hard copy or PDFs.</blockquote>
      </div>
      <div class="col-12 col-md-6 col-lg-3"><img src="images/user-amy-mcguinness-80x80.jpg" alt="Amy McGuinness" />
        <h5>Amy McGuinness</h5>
        <p>Operations Manager, <br />RIC Publications, Australia</p>
        <blockquote>It is improving the speed at which we edit our documents, especially for our International market.</blockquote>
      </div>
      <div class="col-12 col-md-6 col-lg-3"><img src="images/user-fayecheeseman-80x80.jpg" alt="Faye Cheeseman" />
        <h5>Faye Cheeseman</h5>
        <p>Freelance proofreader, UK</p>
        <blockquote>The best support I've ever received!</blockquote>
      </div>
    </div>
    <div class="cta-button">
      <p class="text-center"><a class="cta btn btn-primary" href="https://calendly.com/futureproofs/meeting">Talk to our team</a></p>
    </div>
  </div>
</section>
