@mixin transitions {
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  -ms-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

body {
  * {
    padding: 0;
    margin: 0;
    z-index: 1;
  }

  .clear-navbar {
    margin-top: 70px !important;
  }

  .content {
    color: $dark;
  }

  .wrapper {
    max-width: 1200px;
    margin: 0 auto 0 auto;
  }

  h1, h2 {
    text-align: center;
    font-weight: 700;
    margin-bottom: 30px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    margin-top: 30px;
    font-size: 2rem;
  }

  h3, h4 {
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 25px;
  }

  h3 {
    text-align: center;
    font-size: 1.5rem;
  }

  h4 {
    text-align: left;
    font-size: 1.2rem;
  }

  .btn {
    @include transitions;

    &:hover {
      transform: scale(1.1);
    }
  }

  a.button-bottom {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding-left: 1.2rem;
  }

  img {
    &.arrow {
      width: 30px;
      height: 30px;
      position: relative;
      top: -1px;
      filter: invert(100%);
      margin-left: -5px;
      margin-right: 5px;
    }

    &.icon-large {
      width: 120px;
      height: 120px;
    }
  }

  p, li {
    padding: 0 0 10px 0;
  }

  .card-deck {
    margin-bottom: 2rem;

    h3 {
      margin: 0;
    }
  }

  .special-offer {
    width: 80%;

    blockquote {
      background-color: $light-blue;
      margin: 0 auto 50px auto;
      padding: 30px 30px 1px 30px;
      border-radius: 7px;

      div {
        margin-bottom: 16px;

        &.signature {
          font-weight: bold;
          float: right;
          text-align: right;
        }

        &.clear {
          clear: both;
        }

        ul {
          margin: 16px 0 0 20px;

          li {
            padding: 0;
          }
        }
      }
    }

    .btn-outline {
      background: $white;
      color: $primary;
    }

    .fine-print {
      border: 1px solid $primary;
      border-radius: 7px;
      font-size: 80%;
      padding: 30px 90px;
      margin: 30px 0 60px 0;
    }
  }

  .special-offer-button {
    border: 2px dashed $secondary;
    border-radius: 13px;
    padding: 1rem;
    width: 20rem;
    height: 7.5rem;
    margin: 30px auto;

    p.text-center {
      margin: 0;
      font-size: 1.2rem;

      a {
        font-size: 1.2rem;
        padding: 0.75rem 1.5rem;
      }
    }
  }
}

.navbar-outer {
  min-height: 70px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 50;
  border-bottom: 1px solid $mid-gray;
  @include transitions;
  @media (max-width: map-get($grid-breakpoints, 'md')) {
    border-bottom: none;
  }

  &.scrolled {
    background-color: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
  }

  .navbar-expand-md {
    @media (max-width: map-get($grid-breakpoints, 'md')) {
      background-color: $white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
    }
  }

  .navbar {
    max-width: 1200px;
    margin: 0 auto 0 auto;

    .navbar-brand {
      img {
        height: 40px;
        width: 250px;
      }

      @media (max-width: map-get($grid-breakpoints, 'md')) {
        width: 50%;
        max-width: 50%;
      }
    }

    .navbar-nav {
      li {
        margin-left: 10px;

        a {
          color: $dark;
          padding-top: 15px;
          @include transitions;

          &:hover {
            color: $primary;
          }
        }
      }

      .dropdown-menu {
        border: 1px solid $mid-gray;
        border-radius: 0;
        margin-top: 2px;
        background-color: transparent;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
        @include transitions;

        &.scrolled {
          @include transitions;
          background-color: $white;
        }

        .dropdown-item {
          &:hover {
            @include transitions;
            background-color:$light;
          }
        }
      }
    }

    .navbar-toggler {
      img {
        height: 40px;
        width: 40px;
      }
    }

    .try-it-out {
      position: relative;
      top: -5px;
    }
  }
}

.hero {
  height: calc(100vh - 140px);
  min-height: 240px;

  #background {
    background: $white url("../images/hero-background-light.jpg") no-repeat 50% 0px;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }

  p {
    margin-top: 30px;

    .cta {
      font-size: 1.2rem;
      padding: 0.75rem 1.5rem;
    }
  }
}

.key-selling-points {
  .row {
    margin: 0;
  }
  article {
    position: relative;
    background-color: $primary;
    float:left;
    text-align: center;
    color: white;
    padding: 10px 20px 20px 20px;
    flex: 0 0 100%;
    overflow: hidden;

    @media (min-width: map-get($grid-breakpoints, 'md')) {
      flex: 0 0 50%;
    }

    @media (min-width: map-get($grid-breakpoints, 'lg')) {
      flex: 0 0 25%;
      max-width: 400px;
    }

    @media (min-width: 1600px) {
      flex: 0 0 17%;
    }

    &:nth-of-type(1) {
      background-color: lighten($primary, 12%);
    }

    &:nth-of-type(2) {
      background-color: lighten($primary, 9%);
    }

    &:nth-of-type(3) {
      background-color: lighten($primary, 6%);
    }

    &:nth-of-type(4) {
      background-color: lighten($primary, 3%);
    }

    &:nth-of-type(5) {
      background-color: $primary;
    }

    &:nth-of-type(6) {
      background-color: darken($primary, 3%);
    }

    &.padding {
      flex: 0 0 0;
      padding: 0;

      @media (min-width: 1600px) {
        flex: 0 0 16%;
      }
    }

    img.icon {
      width: 60px;
      height: 60px;
      filter: invert(100%);
    }

    h3 {
      font-size: 120%;
      font-weight: 700;
      margin-bottom: 20px;
      color: $white;
    }

    p {
      margin-bottom: 3rem;
    }

    a {
      &#video {
        float: none;
        margin-top: 25px;
      }
    }
  }
}

.index-features {
  h2, h3, h4, strong {
    color: $primary;
  }

  .summary {
    width: 900px;
    margin: 10px auto;
    text-align: center;

    @media (max-width: 900px) {
      width: 90%;
    }
  }

  .feature-card-set {
    margin: 30px 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: right;

    &:nth-of-type(even) {
      .feature-image {
        margin-left: 1.5rem;
        margin-right: 0;
        order: 2;
      }

      .feature-text {
        margin-right: 0;
        order: 1;
        text-align: left;

        .button-bottom {
          right: auto;
          left: 20px;
        }
      }
    }

    .card {
      border: none;
    }

    .feature-image {
      z-index: 0;
      margin-right: 1.5rem;
      align-self: center;
      @include transitions;

      &:hover {
        transform: scale(1.05);
      }
    }

    .feature-text {
      padding: 20px;
      align-self: center;

      .card-text.last {
        margin-bottom: 2em;
      }

      .button-bottom {
        margin-bottom: 0;
      }
    }

    @media (max-width: map-get($grid-breakpoints, 'md')) {
      margin: 30px 0;
      flex-direction: column;

      h4 {
        text-align: center;
      }

      .feature-text, .card-text {
        text-align: center;
      }

      .feature-image {
        order: 2;
        margin-top: 1.5rem;
        margin-right: 0;
        margin-left: 0;

        &.hide-image {
          display: none;
        }
      }

      &:nth-of-type(even) {
        .feature-image {
          margin-left: 0;
          margin-right: 0;
        }

        .feature-text {
          margin-right: 0;
          order: 1;
          text-align: center;

          .button-bottom {
            left: inherit;
            right: 20px;
          }
        }
      }
    }
  }
}

.customers {
  padding: 30px;
  background-color: $light-blue;

  h3 {
    margin-top: 0;
  }
}

.testimonials {
  height: 450px;
  width: 100%;
  background: $mid-gray url("../images/testimonials-background.jpg") no-repeat;
  background-size: cover;

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    overflow: scroll;
  }

  .content {
    color: $white;
    text-align: center;

    h2 {
      padding-top: 30px;
    }

    .quotes {
      h5 {
        font-size: 1.2rem;
        font-weight: 700;
        color: $primary;
        margin: 10px 0;
      }

      p {
        color: $mid-blue;
        font-size: 1rem;
        min-height: 58px;
      }

      img {
        border-radius: 40px;
        width: 80px;
        height: 80px;
      }

      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        p {
          min-height: 0;
        }

        div {
          margin-bottom: 30px;
        }

        &.row {
          margin: 0;
        }
      }
    }

    .cta-button {
      margin: 30px 0;
    }
  }

}

#pricing-table {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  align-items: center;

  table {
    margin: 30px 0 30px 0;
    width: 30%;

    thead {
      background-color: $dark;
      color: $white;

      &.primary {
        background-color: $primary;
      }

      th {
        border-radius: 13px 13px 0 0;

        .plan {
          font-size: 1.2rem;
          padding: 10px 0 0 0;
        }

        .price {
          font-size: 1.8rem;
          padding: 0;
        }

        .message {
          font-size: 0.8rem;
          padding: 0 0 10px 0;
        }
      }
    }

    tbody {
      tr {
        position: relative;
        border: 1px solid $light-gray;

        &:last-of-type {
          border: 0;
          &:hover {
            background-color: inherit;
          }
        }

        td {
          height: 4rem;
        }
      }
    }
  }

  @media (max-width: map-get($grid-breakpoints, 'lg')) {
    flex-direction: column;

    table {
      width: 80%;
    }
  }
}

.pricing-toggles {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  margin: 0 auto;

  @media (max-width: map-get($grid-breakpoints, 'md')) {
    width: 80%;
  }

  .model-switch {
    display: flex;
    justify-content: center;

    /* The switch - the box around the slider */
    .switch {
      position: relative;
      display: inline-block;
      width: 60px;
      height: 34px;
      margin: 30px auto;

      /* Hide default HTML checkbox */
      input {
        opacity: 0;
        width: 0;
        height: 0;
        display: none;
      }

      /* The pricing-model toggle */
      .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $mid-gray;
        -webkit-transition: .4s;
        transition: .4s;

        &.round {
          border-radius: 34px;

          &:before {
            border-radius: 50%;
          }
        }

        &:before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 4px;
          bottom: 4px;
          background-color: $white;
          -webkit-transition: .4s;
          transition: .4s;
        }
      }
    }

    input:checked + .slider {
      background-color: $primary;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px $primary;
    }

    input:checked + .slider:before {
      -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
      transform: translateX(26px);
    }

    .toggle-left {
      position:relative;
      top:33px;
      right:10px;
      font-weight:bold;
    }

    .toggle-right {
      position:relative;
      top:33px;
      left:10px;
      font-weight:bold;
    }
  }

  .volume-slider {
    width: 100%;

    input {
      width: 100%;
    }

    label {
      display: block;
      text-align: center;
      font-weight: bold;
      width: 100%;
    }
  }

  /* The pricing volume */
  input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: -4px 0;

    &:focus {
      outline: none;
    }

    &::-webkit-slider-runnable-track {
      width: 100%;
      height: 34px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #ffb2df, 0px 0px 0px #ffccea;
      background: $primary;
      border-radius: 17px;
      border: 4px solid $primary;
    }

    &::-webkit-slider-thumb {
      box-shadow: 0px 0px 0px $primary, 0px 0px 0px #1ac1ff;
      border: 0px solid $primary;
      height: 26px;
      width: 26px;
      border-radius: 13px;
      background: #ffffff;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: 0px;
    }

    &::-moz-range-track {
      width: 100%;
      height: 34px;
      cursor: pointer;
      box-shadow: 0px 0px 0px #ffb2df, 0px 0px 0px #ffccea;
      background: $primary;
      border-radius: 17px;
      border: 4px solid $primary;
    }

    &::-moz-range-thumb {
      box-shadow: 0px 0px 0px $primary, 0px 0px 0px #1ac1ff;
      border: 0px solid $primary;
      height: 26px;
      width: 26px;
      border-radius: 13px;
      background: #ffffff;
      cursor: pointer;
    }

    &::-ms-track {
      width: 100%;
      height: 34px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: #00739e;
      border: 4px solid $primary;
      border-radius: 34px;
      box-shadow: 0px 0px 0px #ffb2df, 0px 0px 0px #ffccea;
    }

    &::-ms-fill-upper {
      background: $primary;
      border: 4px solid $primary;
      border-radius: 34px;
      box-shadow: 0px 0px 0px #ffb2df, 0px 0px 0px #ffccea;
    }

    &::-ms-thumb {
      box-shadow: 0px 0px 0px $primary, 0px 0px 0px #1ac1ff;
      border: 0px solid $primary;
      width: 26px;
      border-radius: 13px;
      background: #ffffff;
      cursor: pointer;
      height: 26px;
    }
  }
}

#accordion {
  margin-bottom: 45px;

  .card {
    border: 1px solid $dark;
    border-top: 0;
    width: 60%;
    margin: 0 auto;
    border-radius: 0;

    &.item1 {
      border-radius: 13px 13px 0 0;
      border-top: 1px solid $dark;
    }

    .card-header {
      background-color: $light-blue;
      border: 0;

      &#item1 {
        border-radius: 13px 13px 0 0;
      }

      button {
        width: 100%;
        height: 100%;

        &:hover {
          transform: none;
        }
      }
    }

    .card-body {
    }

    @media (max-width: map-get($grid-breakpoints, 'lg')) {
      width: 90%;
    }
  }
}

.features {
  h1 {
    padding: 30px;
    background-image: linear-gradient(to right, $primary, darken($primary, 10%));
    color: $white;
  }
}

.metric-boxes {
  margin-bottom: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  article {
    position: relative;
    background-color: $primary;
    float:left;
    text-align: center;
    color: white;
    padding: 10px 20px 20px 20px;
    flex: 0 0 100%;
    overflow: hidden;

    &:nth-of-type(1) {
      background-color: lighten($primary, 9%);
    }

    &:nth-of-type(2) {
      background-color: lighten($primary, 6%);
    }

    &:nth-of-type(3) {
      background-color: lighten($primary, 3%);
    }

    &:nth-of-type(4) {
      background-color: $primary;
    }

    &.padding {
      flex: 0 0 0;
      padding: 0;
    }

    h3 {
      font-size: 120%;
      font-weight: 700;
      margin-bottom: 20px;
      color: $white;
    }

    img.icon {
      width: 60px;
      height: 60px;
      filter: invert(100%);
    }

    p {
      margin-bottom: 3rem;

      &.metric {
        position: absolute;
        bottom: 0;
        width: calc(100% - 40px);
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      &#video-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 0;

        #video {
          bottom: auto;
          position: inherit;
          transform: none;
          margin-top: 15px;
        }
      }

      strong {
        color: $white;
      }

      a {
        &.btn {
          position: absolute;
          bottom: 20px;
          display: inline-block;
          transform: translate(-50%,0);

          &:hover {
            transform: translate(-50%,0) scale(1.1);
          }
        }
      }
    }
  }
}

.single-column-content {
  h3 {
    font-size: 1.2rem;
  }

  ul {
    margin-left: 40px;

    li {
      padding: 0;

      &:last-of-type {
        padding-bottom: 10px;
      }
    }
  }
}

#terms {
  h4 {
    display: list-item;
    list-style: decimal;
    margin-left: 20px;
  }

  ol {
    margin-left: 30px;
    list-style-type: decimal;

    ol {
      margin-left: 20px;
      list-style-type: lower-alpha;
    }
  }
}

footer {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $darkest-gray;
  color: $white;

  .main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    ul {
      list-style: none;
      padding-left: 0;
      position: relative;
      left: -10px;
    }

    .branding {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 0 0 280px;

      ul.social {
        left: 0;

        li {
          display: inline;
          margin: 10px;

          a.btn-round {
            border-radius: 20px;
            padding: 10px;
            width: 42px;
            height: 42px;

            img {
              position: relative;
              top: -3px;
              left: 0;
              width: 20px;
              height: 20px;
              filter: invert(100%);
            }
          }
        }
      }
    }

    .information {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      flex: 0 0 50%;

      h4 {
        margin: 0 2rem 0 0;
      }

      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 0;
        list-style: none;
        position: relative;
        left: -5px;

        li {
          padding: 0;
        }

        a {
          color: $mid-gray;
        }
      }

      @media (max-width: map-get($grid-breakpoints, 'lg')) {
        flex-direction: column;

        h4 {
          margin-bottom: 20px;
        }
      }
    }

    @media (max-width: map-get($grid-breakpoints, 'sm')) {
      flex-direction: column;

      .information {
        align-items: center;
      }
    }
  }

  .copyright {
    text-align: center;
    padding-top: 30px;
  }
}
