<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  {% include _head.html %}

  <body>
    <div id="background"></div>
    {% include _navbar.html %}

    <section class="wrapper clear-navbar hero d-flex align-items-center">
      <div class="flex-fill">
        <h1>Control your proofs,<br />
          improve your workflow</h2>
        <p class="text-center"><a class="cta btn btn-primary" href="https://calendly.com/futureproofs/meeting">Talk to our team</a></p>
      </div>
    </section>

    <section class="key-selling-points content">
      <div class="row">
        <article></article>
        <article>
          <img src="/images/book.svg" class="icon" />
          <h3>Consistent markup</h3>
          <p>Simple, powerful markup that just works. Publish faster and improve your margin. Full 360° workflow includes everyone. No software to install – just needs a web browser!</p>
          <p><a class="btn btn-dark button-bottom" href="#">See more</a></p>
        </article>
        <article>
          <img src="/images/people.svg" class="icon" />
          <h3>Clear communication</h3>
          <p>Upload and share PDF proofs securely with your team. Work simultaneously. Effective collaboration gets queries resolved quickly. Instant, accountable communication.</p>
          <p><a class="btn btn-dark button-bottom" href="#">See more</a></p>
        </article>
        <article>
          <img src="/images/eye.svg" class="icon" />
          <h3>Actionable insights</h3>
          <p>Anticipate and avoid problems with real-time data for clear insight. Automated audit trails ensure you know what decisions were made. Management reports provide perspective for leaders.</p>
          <p><a class="btn btn-dark button-bottom" href="#">See more</a></p>
        </article>
        <article>
          <img src="/images/play.svg" class="icon" />
          <h3>Watch the video</h3>
          <script src="https://fast.wistia.com/embed/medias/hwaxymlt5s.jsonp" async></script>
          <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_hwaxymlt5s popover=true popoverContent=link" style="display:inline;">
            <a id="video" class="btn btn-primary p-1" href="#">
              <img src="/images/play-video.png" width="200" height="113" alt="Video screenshot" />
            </a>
          </span>
        </article>
        <article></article>
      </div>
    </section>

    <section class="wrapper content features">
      <h2>The future of your proofs</h2>
      <h3>Digital workflows, physical books, global teams!</h3>
      <p class="summary">Based on 20 years of editorial and production experience, Futureproofs solves the day-to-day problems of on-screen proof checking. It's no wonder our users find that work takes 'a fraction of the time': our 'frankly gorgeous' markup tools combine the best of traditional workflows with the best of modern technology.</p>
      <p class="summary">We give editors, proofreaders, authors and designers the tools they need to manage their projects well, to minimise risk and to deliver on time. Whether you call it soft-proofing, on-screen proofing or just proofing, Futureproofs makes sure your team delivers!</p>
    </section>

    <section class="wrapper content testimonials">
      <h2>Testimonials</h2>
      <p>Stuff goes here</p>
    </section>

    {% include _footer.html %}
    {% include _page_scripts.html %}
  </body>
</html>
