<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  {% include _head.html %}

  <body>
    <div id="background"></div>
    {% include _navbar.html %}

    <section class="wrapper clear-navbar hero d-flex align-items-center">
      <div class="flex-fill">
        <h1>Control your proofs,<br />
          improve your workflow</h2>
        <p class="text-center"><a class="cta btn btn-primary" href="https://calendly.com/futureproofs/meeting">Talk to our team</a></p>
      </div>
    </section>

    <section class="key-selling-points content">
      <div class="row">
        <article class="padding"></article>
        <article>
          <img src="/images/book.svg" class="icon" />
          <h3>Consistent markup</h3>
          <p>Simple, powerful markup that just works. Publish faster and improve your margin. Full 360° workflow includes everyone. No software to install – just needs a web browser!</p>
          <p><a class="btn btn-dark button-bottom" href="#">See more <img src="/images/arrow-right-short.svg" aria-hidden="true" class="arrow" /></a></p>
        </article>
        <article>
          <img src="/images/people.svg" class="icon" />
          <h3>Clear communication</h3>
          <p>Upload and share PDF proofs securely with your team. Work simultaneously. Effective collaboration gets queries resolved quickly. Instant, accountable communication.</p>
          <p><a class="btn btn-dark button-bottom" href="#">See more <img src="/images/arrow-right-short.svg" aria-hidden="true" class="arrow" /></a></p>
        </article>
        <article>
          <img src="/images/eye.svg" class="icon" />
          <h3>Actionable insights</h3>
          <p>Anticipate and avoid problems with real-time data for clear insight. Automated audit trails ensure you know what decisions were made. Management reports provide perspective for leaders.</p>
          <p><a class="btn btn-dark button-bottom" href="#">See more <img src="/images/arrow-right-short.svg" aria-hidden="true" class="arrow" /></a></p>
        </article>
        <article>
          <img src="/images/play.svg" class="icon" />
          <h3>Watch the video</h3>
          <script src="https://fast.wistia.com/embed/medias/hwaxymlt5s.jsonp" async></script>
          <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script><span class="wistia_embed wistia_async_hwaxymlt5s popover=true popoverContent=link" style="display:inline;">
            <a id="video" class="btn btn-primary p-1" href="#">
              <img src="/images/play-video.png" width="200" height="113" alt="Video screenshot" />
            </a>
          </span>
        </article>
        <article class="padding"></article>
      </div>
    </section>

    <section class="wrapper content features">
      <h2>Publish faster with Futureproofs</h2>
      <h3>Digital workflows, physical books, global teams!</h3>
      <p class="summary">Our users say their work 'takes a fraction of the time' with 'frankly gorgeous' markup tools that combine the best of traditional workflows with the best of modern technology. Based on 20 years of editorial and production experience, Futureproofs solves the day-to-day problems of proof checking for on-screen workflows.</p>
      <p class="summary">Whether you call it soft-proofing, digital proofing, on-screen proofing or just proofing, Futureproofs makes sure your team can deliver!</p>
      <div class="feature-card-set d-flex flex-row align-items-center">
        <img src="/images/feature-image-1.png" class="feature-image">
        <article class="card feature-text">
          <h4 class="card-title">Real PDF proofing</h4>
          <p class="card-text">Unlike other PDF software, Futureproofs is designed specifically for the jobs editors, proofreaders, authors and project managers to every day. Gesture-based input using a normal mouse gives fast, precise markup the whole team can understand.</p>
        </article>
      </div>
    </section>

    <section class="wrapper content pricing">
      <article class="card" style="width:25%;">
        <div class="card-header">Entry</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">200 pages</li>
          <li class="list-group-item">Unlimited users</li>
          <li class="list-group-item">Unlimited bandwidth</li>
          <li class="list-group-item">1 hour of training</li>
          <li class="list-group-item">Live support for all users</li>
          <li class="list-group-item">Pay by credit card or direct debit</li>
        </ul>
      </article>
    </section>

    <section class="wrapper content testimonials">
      <h2>Testimonials</h2>
      <p>Stuff goes here</p>
    </section>

    {% include _footer.html %}
    {% include _common_scripts.html %}
  </body>
</html>
