<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-GB" }}">
  {% include _head.html %}

  <body>
    {% include _navbar.html %}

    <section class="wrapper content pricing clear-navbar d-flex">
      <article class="card" style="width:25%;">
        <div class="card-header">Entry</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">200 pages</li>
          <li class="list-group-item">Unlimited users</li>
          <li class="list-group-item">Unlimited bandwidth</li>
          <li class="list-group-item">1 hour of training</li>
          <li class="list-group-item">Live support for all users</li>
          <li class="list-group-item">Pay by credit card or direct debit</li>
        </ul>
      </article>
    </section>

    {% include _footer.html %}
    {% include _common_scripts.html %}
  </body>
</html>
